.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: ceter;
    margin-top: 20px;
    background: white;
}

.game-card {
    background-color: #1d67a9;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}

.game-card button {
    margin-right: 8px;
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.game-card img {
    display: flex;
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}
